/* PHASE 4: Footer */

.footer {
  align-content: center;
  width: 860px;
  background: #fff;
  color: #aaa;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
  padding: 0px 10px 0px 10px;
}

.footer a {
  display: block;
}

.footer a:hover {
  color: #000;
}
